model_weights/
*.json
*.pt
*.bin
*.pth
*.csv
*.pkl
gpt2-emotion-classification/
!llama_correct_datasets/
!llama_correct_datasets/*.json
logs/
*.csv
*.pyc
results/
/*.csv
correct_predictions_dataset/
*.safetensors
*.pyc
*.zip