model_weights/
*.json
*.pt
*.bin
*.pth
*.csv
*.pkl
gpt2-emotion-classification/
!correct_predictions_dataset/
!correct_predictions_dataset/*.json
logs/
*.csv
*.pyc
results/
/*.csv
correct_predictions_dataset/
*.safetensors
*.pyc
*.zip